<div layout="column" ng-cloak>
    <md-toolbar class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Welcome to Forget Me Not</h2>
        </div>
    </md-toolbar>
    <div layout layout-align="center center">
        <div flex="100" flex-gt-md="60" layout-padding>
            <h3>Forget Me Not is an all in one application</h3>
            <p> You can use it to manage your tasks and set reminders and events on your Google calendar for them. No more forgetting
                to pick up that anniversary gift.
            </p>
            <h3>You can also take notes</h3>
            <p>
                Save them, mark them as important or even encrypt them if they contain sensitive information. You could also email the contents
                of any of your notes in the click of a button.
            </p>
        </div>
    </div>
</div>